<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869222114879-p1gvs8kqjn72i13secn0s2sj2256as3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869222114879-p1gvs8kqjn72i13secn0s2sj2256as3o</string>
	<key>API_KEY</key>
	<string>AIzaSyB7JpXDCYer1IbumWwBp_iHJVgYRs5HRbM</string>
	<key>GCM_SENDER_ID</key>
	<string>869222114879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elesawy.gawlaApp</string>
	<key>PROJECT_ID</key>
	<string>gawla-19</string>
	<key>STORAGE_BUCKET</key>
	<string>gawla-19.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869222114879:ios:0dc9fb8d212924e336ba8a</string>
</dict>
</plist>